@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
.range-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: #e5e7eb; /* Tailwind's gray-200 for the inactive part */
    border-radius: 5px;
    cursor: pointer;
  }
  
  .range-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    background: #e5e7eb; /* Tailwind's gray-200 */
    border-radius: 5px;
  }
  
  .range-slider::-moz-range-track {
    width: 100%;
    height: 6px;
    background: #e5e7eb; /* Tailwind's gray-200 */
    border-radius: 5px;
  }
  
  .range-slider::-ms-track {
    width: 100%;
    height: 6px;
    background: transparent; /* Hides the default background */
    border-color: transparent;
    color: transparent;
  }
  
  .range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #ff6300; /* Orange color for the thumb */
    border-radius: 50%;
    cursor: pointer;
  }
  
  .range-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #ff6300;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .range-slider::-ms-thumb {
    width: 16px;
    height: 16px;
    background: #ff6300;
    border-radius: 50%;
    cursor: pointer;
  }
  